In [4]:
import pandas as pd  
df = pd.DataFrame([  
            ['green','M','10.2','class1'],
            ['red','L','13.5','class2'],  
            ['blue','XL','15.3','class1'],  
           ])  
  
df.columns = ['color','size','prize','class label'] 
  
size_mapping = {  
            'XL': 3,  
            'L': 2,  
            'M': 1}  
df['size'] = df['size'].map(size_mapping)  
#映射字典将类标转换为整数 编码类别标签
# class_mapping = {label:idx for idx,label in enumerate(set(df['class label']))}  
df
# class_mapping
# df['class label'] = df['class label'].map(class_mapping)

   color  size prize class label
0  green     1  10.2      class1
1    red     2  13.5      class2
2   blue     3  15.3      class1

In [7]:
pd.get_dummies(df)

,size,class label,color_blue,color_green,color_red,prize_10.2,prize_13.5,prize_15.3
0,1,0,0,1,0,1,0,0
1,2,1,0,0,1,0,1,0
2,3,0,1,0,0,0,0,1