In [28]:
from matplotlib import font_manager
my_font=font_manager.FontProperties(fname='/usr/share/fonts/simsun/simsun.ttc')

In [29]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [30]:
data.columns

Index(['名字', '类型', '城市', '地区', '地点', '评分', '评分人数', '价格'], dtype='object')

In [31]:
data=pd.read_csv('hotel_data.csv',encoding='gb2312',index_col='Unnamed: 0')
data.head()

,名字,类型,城市,地区,地点,评分,评分人数,价格
0,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708,693
1,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328,747
2,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014,693
3,如心艾朗酒店(L‘hotel elan),浪漫情侣,香港,观塘,观塘创业街38号,4.6,3427,581
4,香港隆堡柏宁顿酒店(Hotel Pennington by Rhombus),浪漫情侣,香港,湾仔,铜锣湾边宁顿街13-15号,4.5,1938,869

In [37]:
#每个地区的评分人数的总和以及均值
data["评分人数"]=data["评分人数"].astype("int")
data.评分人数.groupby(data["地区"]).agg([np.sum,np.mean])

         sum          mean
地区
东区     56643   3540.187500
中西区    59682   1808.545455
九龙城    49855   2374.047619
元朗      1200   1200.000000
其他地区   16831    300.553571
南区     12867   2573.400000
屯门      7324   3662.000000
沙田     39622   9905.500000
油尖旺   422574   2284.183784
深水_区      16     16.000000
湾仔    107344   2618.146341
离岛     60359   5487.181818
罗湖区       24     24.000000
荃湾    114610  16372.857143
葵青     11544   2308.800000
观塘     19137   2733.857143

In [32]:
#获取index和columns
data.columns
data.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            386, 387, 388, 389, 390, 391, 392, 393, 394, 395],
           dtype='int64', length=396)

In [38]:
data.combine_first
data.columns

Index(['名字', '类型', '城市', '地区', '地点', '评分', '评分人数', '价格'], dtype='object')

In [39]:
data.head()

,名字,类型,城市,地区,地点,评分,评分人数,价格
0,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708,693
1,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328,747
2,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014,693
3,如心艾朗酒店(L‘hotel elan),浪漫情侣,香港,观塘,观塘创业街38号,4.6,3427,581
4,香港隆堡柏宁顿酒店(Hotel Pennington by Rhombus),浪漫情侣,香港,湾仔,铜锣湾边宁顿街13-15号,4.5,1938,869

In [40]:
#每个酒店类型的平均价格、最高价、最低价

data["价格"]=data["价格"].astype("int")
data.价格.groupby(data["类型"]).agg([np.mean,np.max,np.min])

              mean   amax  amin
类型
交通方便    421.000000    421   421
亲子酒店    745.400000   1686   269
休闲度假   1151.300000   4443   358
其他类型    269.300000    881    67
印象好     297.000000    297   297
商务出行   1045.153846   3159   401
地铁周边    374.139535   2640    67
大学周边    325.000000    325   325
客栈      397.666667    553   245
干净卫生    185.000000    185   185
民宿      258.500000    506   157
浪漫情侣    608.573529   1908   225
海滨风光   1543.573770  12926   331
火车站周边   968.000000    968   968
环境不错    357.666667    484   176
老板热情    385.000000    385   385
酒店公寓   1182.000000   2309   588
青年旅舍    189.250000    348    70

In [41]:
data.head()

,名字,类型,城市,地区,地点,评分,评分人数,价格
0,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708,693
1,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328,747
2,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014,693
3,如心艾朗酒店(L‘hotel elan),浪漫情侣,香港,观塘,观塘创业街38号,4.6,3427,581
4,香港隆堡柏宁顿酒店(Hotel Pennington by Rhombus),浪漫情侣,香港,湾仔,铜锣湾边宁顿街13-15号,4.5,1938,869

In [43]:
# 数据离散化，按照价格将酒店分为3个等级,0-500为C，500-1000为B,大于1000为A，
# 列名设置为“价格等级”。

data["价格等级"]=pd.cut(data["价格"],bins=[0,500,1000,50000],labels=["C","B","A"])
data.head()

,名字,类型,城市,地区,地点,评分,评分人数,价格,价格等级
0,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4.5,12708,693,B
1,香港碧荟酒店(The BEACON),商务出行,香港,油尖旺,九龙旺角洗衣街88号,4.7,328,747,B
2,香港湾仔帝盛酒店(Dorsett Wanchai),浪漫情侣,香港,湾仔,皇后大道东387-397号,4.4,5014,693,B
3,如心艾朗酒店(L‘hotel elan),浪漫情侣,香港,观塘,观塘创业街38号,4.6,3427,581,B
4,香港隆堡柏宁顿酒店(Hotel Pennington by Rhombus),浪漫情侣,香港,湾仔,铜锣湾边宁顿街13-15号,4.5,1938,869,B

In [50]:
type(data.评分)

pandas.core.series.Series

In [49]:
type(data["评分"])

pandas.core.series.Series

In [54]:
#获取评分均值最高和最低的地区的数据

data["评分"]=data["评分"].astype("int")
group=data.评分.groupby(data["地区"]).mean()

group=group.sort_values(ascending=False)
group

地区
观塘      4.000000
荃湾      4.000000
罗湖区     4.000000
深水_区    4.000000
沙田      4.000000
屯门      4.000000
元朗      4.000000
东区      4.000000
中西区     3.969697
九龙城     3.952381
湾仔      3.878049
离岛      3.818182
葵青      3.800000
南区      3.800000
其他地区    3.767857
油尖旺     3.751351
Name: 评分, dtype: float64

In [55]:
group.index

Index(['观塘', '荃湾', '罗湖区', '深水_区', '沙田', '屯门', '元朗', '东区', '中西区', '九龙城', '湾仔',
       '离岛', '葵青', '南区', '其他地区', '油尖旺'],
      dtype='object', name='地区')

In [57]:
avg_max=data[data["地区"].isin(group.index[:8])]
avg_min=data[data["地区"]=="油尖旺"]

In [59]:
avg_max.append(avg_min).head()

,名字,类型,城市,地区,地点,评分,评分人数,价格,价格等级
0,香港铜锣湾皇悦酒店(Empire Hotel Hong Kong-Causeway Bay),浪漫情侣,香港,东区,铜锣湾永兴街8号,4,12708,693,B
3,如心艾朗酒店(L‘hotel elan),浪漫情侣,香港,观塘,观塘创业街38号,4,3427,581,B
17,香港悦来酒店(Panda Hotel),休闲度假,香港,荃湾,荃湾 荃华街3号,4,13694,358,C
20,香港北角海逸酒店(Harbour Plaza North Point),海滨风光,香港,东区,"北角 英皇道665号(665 Kings Road, North Point, Hong K...",4,3980,507,B
21,香港帝景酒店(Royal View Hotel),海滨风光,香港,荃湾,汀九 青山公路353号,4,3289,418,C